.borderVerde {
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: gray;
    background-color: #45d11b;
    font-size: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 15px;
    color: rgb(56, 131, 200);
    align-content: center;
    font-family: monospace;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flex {
    justify-content: center;
    align-items: center;
    display: flex;
}

button {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

input {
    width: 210px;
    height: 25px;
}

.span{
    margin-left: 20px;
}

.width{
    width: 450px;
   

}
.float{
    float: left;
}
img{
    cursor: pointer;
}
